body{
    background-color:  hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.second-left, .bottom-left, .paragraph{
    color: hsla(0, 0%, 100%, 0.75);
}

.pricing{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    border-radius: 10px;
}

.pricing-top{
    background-color: white;
    padding: 10px 25px 1px 25px;
    border-radius: 5px 5px 0 0;
    width: 400px;
}

.pricing-bottom{
    display: flex;
    flex-direction: row;
}

.price-left{
    color: white;
    background-color:hsl(179, 49%, 37%);
    border-right:hsl(179, 49%, 37%);
    flex-basis: 300px;
    text-align: center;
    line-height: 1px;
    padding: 20px 10px 10px;
    border-radius: 0 0 0 5px;
}

.price-right{
    color: white;
    background-color: hsl(179, 66%, 39%);
    flex-basis: 300px;
    line-height: 2px;
    padding: 20px 17px 13px 20px;
    font-size: 12px;
    border-radius: 0 0 5px 0;
}

button{
    padding: 9px 54px;
    margin: 15px 15px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 11px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1{
    display: inline;
}

.first{
    color: hsl(179, 66%, 39%);
    font-size: 15px;
}

.second{
    color: hsl(71, 73%, 54%);
    font-size: 11px;
    margin: 50px 0 0;
}

.top-text{
    color: hsla(0, 0%, 65%, 0.9);
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    margin: 0 0 30px;
}

.right-header{
    margin: 20px 0 23px;
    font-size: 12px;
}

.bottom-left{
    font-size: 10px;
}

.paragraph{
    font-size: 11px;
}

.second-left{
    padding: 10px;
    margin: 0;
    font-size: 22px;
    margin: 0 58px 0 0;
    font-weight: 500;
}

.left-header{
    font-size: 13px;
    font-weight: 500;
    margin: 20px 28px 20px 0;
}

.third{
    margin-left: 10px;
    font-size: 10px;
}

footer{
    margin: 0 0 0 5px;
}

@media (max-width: 375px) {
    .pricing-bottom{
        display: flex;
        flex-direction: column;
        height: 200px;
    }

    .pricing-top{
       width: 160px;
       height: 185px;
       font-size: 10px;
}

.price-left{
    padding: 0;
    border-radius: 0;
    
}

.price-right{
    height: 200px;
    padding: 20px 25px 13px ;
    border-radius: 0 0 5px 5px;
}

button{
  padding: 9px 63px;
}
}