* {box-sizing: border-box;}

body{
    margin: 0;
    min-height: 100vh;
}

header,
.main,
.side,
footer{
    padding: 2em ;
}

header{
    background-color: #41dbbd;
    
}

.main{
    background: #de6449;
    margin: 0;
}

.side{
    background: #407899;
    margin: 0;
}

footer{
    background: #694d75;
}

.grid{
    display: grid;
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-template-areas: 
    "header header header"
    ". main ."
    ".side."
    "footer footer footer";
}
header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.side{
    grid-area: side;
}
footer{
    grid-area: footer;
}

